.vs/
.idea/
IdealDotnetApi/internal_logs/
Contracts/bin/
Contracts/obj/
Entities/bin/
Entities/obj/
IdealDotnetApi/bin/
IdealDotnetApi/obj/
LoggerService/bin/
LoggerService/obj/
Repository/bin/
Repository/obj/
Service/bin/
Service/obj/
Service.Contracts/bin/
Service.Contracts/obj/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
IdealDotnetApi/Migrations/